.footer_container {
  background: linear-gradient(#170236, #430555);
  min-height: 100px;
}

._footer_image_container {
  transition: transform 0.2s ease-in-out;
}

._footer_image_container:hover {
  transform: scale(1.06);
}

._image_container_1 {
  display: flex;
      gap: 10px;
      margin-top: 10px;
}

/* ._image_container_1:hover {
  transform: scale(1.06);
} */

._footer_container_row {
  display: flex;
  flex-wrap: wrap;
}
._footer_container_row_col {
  flex: 1;
  padding-left: 10px;
  min-height: 100px;
  /* min-width: 200px; */
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 46px;
}
._footer_container_row_col-1 {
  flex: 1.5;
  padding-left: 30px;
  margin-top: 20px;
}
._footer_container_row_col-partner {
  flex: 1.5;
  margin-top: 20px;
}
._footer_rocket_bet_title p {
  font-size: 36px;
  font-weight: 600;
  color: white;
  font-family: "Cinzel";
}
._footer_rocket_bet_title p span {
  margin-left: -10px;
  font-size: 40px;
  color: rgb(246, 246, 10);
  font-family: "Cinzel";
}
.navbar_top_image_container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.support_team_title {
  margin-top: 20px;
  color: rgb(246, 246, 10);
  font-size: 14px;
  font-weight: 600;
}
._mail_title {
  color: white;
  font-size: 14px;
}
._footer_location_container,
._footer_mail_container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}
._footer_availabel_on {
  margin-top: 15px;
}
.availabel_on_title {
  margin-top: 30px;
  color: white;
  font-size: 14px;
}
._availabel_on_image_container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.footer_style {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: black;
  border: 1px solid black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.footer_style:hover{
  transform: scale(1.05);
}

.footer_playstore, .footer_applestore {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

._footer_title_container {
  color: yellow;
}
._footer_title_all{
  color: yellow;
  margin-top: 40px;
  font-size: 12px;
  font-weight: 500;
}
._footer_title_all span{
  color: white;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
}
._footer_spade_title {
  font-size: 15px;
  font-weight: 500;
  color: white;
}

._footer_spade_attributes {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}
._footer_spade_attributes1 {
  margin-top: 28px;
  display: flex;
  gap: 10px;
  align-items: center;
}
._follow_us_on_media_image_container {
  display: flex;
  gap: 18px;
}

._follow_us_on_media_image_container img {
  transition: transform 0.2s ease-in-out;
}

._follow_us_on_media_image_container img:hover {
  transform: scale(1.06);
}

._footer_col_media_to_follow {
  margin-top: 20px;
}
._footer_col_media_to_follow1 {
  margin-top: 20px;
  display: none;
}

.showhide_footercontent{
  display: none;
}
.showhide_footercontent1{
  display: contents;
}

/* .showhide_footer_dowloand1{
  display: contents;
} */
/* .showhide_footer_dowloand{
  display: none;
} */

.footer_wrapper_1{
  display: flex;
  column-gap: 50px;
}

._footer_spade_title {
  margin-bottom: 10px;
}

._game_integraty_container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
}

._game_integraty_container img {
  transition: transform 0.2s ease-in-out;
}

._game_integraty_container img:hover {
  transform: scale(1.06);
}

._our_payment_partner_container {
  margin-top: 20px;
}


@media screen and (max-width:460px){

  /* .footer_wrapper_1{
    display: flex;
  } */
  .showhide_footercontent1{
    display: none;
  }
  .showhide_footercontent{
    display: contents;
  }
  .footer_wrapper_1{
    display: flex;
  }

  .footer_wrapper_1{
    /* display: flex; */
    column-gap: 0px;
  }

  ._footer_container_row_col {
    flex: 1;
    padding-left: 10px;
    min-height: 100px;
    /* min-width: 200px; */
    margin-top: 4px;
    margin-bottom: 20px;
    margin-right: 0px;
  }


  .availabel_on_title {
    margin-top: 20px;
    color: white;
    font-size: 14px;
  }

  ._footer_col_media_to_follow {
    margin-top: 8px;
  }

  ._footer_title_all{
    color: yellow;
    margin-top: 15px;
    font-size: 12px;
    font-weight: 500;
    margin-left: 30px;
  }

  ._footer_spade_title {
    margin-bottom: 10px;
  }

  ._footer_spade_attributes1 {
    margin-top: 26px;
    display: flex;
    gap: 10px;
    align-items: center;
  }

}
