.navbar_wrapper {
  display: flex;
  padding: 20px 36px 0px;
  justify-content: space-between;
  background: #000;
}

.nav_subwrapper{
  display: flex;
  gap:10px;
  align-items: center;
}


.navbar_text{
  font-family: "Cinzel";
  font-size: 42px;
  font-weight: 700;
  margin: 0px;
  color: #ffff;
}

.navbar_text span {
  color: #ffd700;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}


.play_now {
  /* display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  height: 45px;
  margin-top: 10px;
  font-family: sans-serif;
  background: linear-gradient(262.86deg, #9337C7 2.79%, #9138C5 14.85%, #763DC2 38.65%, #673EC2 47.79%, #6D3EC2 72.39%, #8031D1 86.44%, #9926DC 100%); */

  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  height: 45px;
  margin-top: 10px;
  font-family: sans-serif;
  background: linear-gradient(262.86deg, #9337C7 2.79%, #9138C5 14.85%, #763DC2 38.65%, #673EC2 47.79%, #6D3EC2 72.39%, #8031D1 86.44%, #9926DC 100%);
  animation: blink 1s infinite;
}

/* .play_now img {
  width: 14px;
  height:14px;
} */

.navbar_logo {
  transform: scale(1); 
  transition: transform 0.3s ease-in-out; 
}

.navbar_logo:hover {
  transform: scale(1.1);
}

/* .nav_Play_icon {
  transform: scale(1); 
  transition: transform 0.3s ease-in-out; 
} */

.nav_Play_icon {
  transform: scale(1); 
  transition: transform 0.3s ease-in-out; 
}

.nav_Play_icon:hover {
  transform: scale(1.1);
}

.play_now {
  border-radius: 5px;
  transform: scale(1); 
  transition: transform 0.3s ease-in-out; 
}

.play_now:hover {
  transform: scale(1.1);
}


.play_now p {
  font-family: "Cinzel";
  font-size: 18px;
  cursor: pointer;
  color: #ffd700;
  margin-left: 5px;
}

@media screen and (max-width:520px){
  .navbar_wrapper {
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
    background: #000;
  }

  /* .navbar_logo{
      max-width: 60%;
      min-height: 10%;
      border: 2px solid red;
  } */

  .navbar_text{
    font-family: "Cinzel";
    font-size: 24px;
    font-weight: 600;
    margin: 0px;
    color: #ffff;
  }

  /* .nav_Play_icon{
    max-width: 23%;
    min-height: 10%;
  } */

  /* .play_now {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    font-family: sans-serif;
    background: linear-gradient(262.86deg, #9337C7 2.79%, #9138C5 14.85%, #763DC2 38.65%, #673EC2 47.79%, #6D3EC2 72.39%, #8031D1 86.44%, #9926DC 100%);
  } */

  .play_now p {
    font-family: "Cinzel";
    font-size: 15px;  
    cursor: pointer;
    color: #ffd700;
    margin-left: 5px;
  }

}

